    body {
        background:transparent;
        margin: 0;
        padding: 0;
        border: 0;
        overflow: hidden;
    }

    #container {
        position: relative;
        max-width: -moz-max-content;
        height: -moz-max-content;
        background: transparent;
        overflow: none;
    }


    .suspect {
        color: orange;
    }

    video {
        height: 100vh;
        width: auto;
        visibility: hidden;
    }

    #layercanv {
        height: 100vh;
        width: auto;
        position: absolute;
        top: 0;
        left: 0;
    }



    #imgcont {
        position: absolute;
    }

    .redact {
        border: 1px dotted rgba(255, 192, 203, 0.46);
    }

    #arrowtar {
        position: absolute;
        color: papayawhip;
        font-size: 5vh;
        text-shadow: 1px 1px 1px black;
    }

    #arrpiece {
        display: none;
    }

    #arrimg {
        display: none;
    }

    #arrowtar img {
        display: hidden;
        width: 80%;
        height: 80%;
    }

    #log {
        position: absolute;
        overflow: hidden;
        font-family: monospace;
        text-shadow: 1px 1px 1px black;
        background-color: transparent;
        color: papayawhip;
        font-size: 2.5vh;
    }

    canvas {
        display: block;
        width: auto;
        position: absolute;
        right: 0;
        max-width: 100%;
        height: 100%;
    }

    #arrow {
        position: absolute;
    }

    #outline {
        position: absolute;
        z-index: 99;
        border: 1px solid pink;
    }

    #data {
        font-family: monospace;
        max-height: 25vh;
        font-size: 2.5vh;
        letter-spacing: 0.2em;
        text-align: right;
        position: absolute;
        left: 0.9vw;
        top: 77.5vh;
        width: 20.6vw;
        height: 20vh;
        text-shadow: 1px 1px 1px black;
        background-color: transparent;
        color: papayawhip;
        overflow: hidden;
    }
